@{
    ViewBag.Title = "About";
}
<br />
<div class="container">
    <div class="jumbotron col-sm-3">
        <img src="/img/Sukumar.jpeg" class="img-rounded" height="200px" width="200px">
        <p>
            <b>Sukumar Vinnakota</b><br>
            Developed HTML pages for this project. Have 6 years of experience in Azure Cloud Computing.
            <img src="/img/LI-In-Bug.png" class="img-rounded" height="25px" width="25px">
            <a href="https://www.linkedin.com/in/sukumar-vinnakota-36562176/" target="_blank">
                LinkedIn Profile
            </a>
        </p>
    </div>
    <div class="col-sm-1"> </div>
    <div class="jumbotron col-sm-3">
        <img src="/img/Sravanthi.jpeg" class="img-rounded" height="200px" width="200px">
        <p>
            <b>Sravanthi Vunnam</b><br>
            Developed HTML pages for this project and ER diagram.<br><br><br>
        </p>
    </div>
    <div class="col-sm-1"> </div>
    <div class="jumbotron col-sm-3">
        <img src="/img/apoorva_picture.jpeg" class="img-rounded" height="200px" width="200px">
        <p>
            <b>Apoorva Musham</b><br>
            Helped with design and developement of this website<br><br><br>
        </p>
    </div>
</div>
<div class="container">
    The Dataset for this project is taken from data.gov website. Click on the <a href="https://data.wa.gov/Transportation/Electric-Vehicle-Population-Data/f6w7-q2d2"
                                                                                 target="_blank">Link</a> for further
    details.
</div>
<div class="container">
    Click here for <a href="https://github.com/SukumarVinnakota/WebLookAndFeel" target="_blank"> Github Link</a>
</div>
<div class="container">
    <h2>
        <b>ER Database Model</b><h2>
            <img src="/img/ERD.JPG" height="400px" width="900px">
</div>
<div class="container">
    <h1><b>Git Output</b></h1>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-3 bor">
            <b> git log --author="SukumarVinnakota" --pretty=tformat: --numstat<br></b>
            2       2       Views/Shared/_Layout.cshtml<br />
            1       1       Views/Home/Index.cshtml<br />
            3       1       Views/Shared/_Layout.cshtml<br />
            1       1       Controllers/HomeController.cs<br />
            129     11      Controllers/VehicleRegistrationController.cs<br />
            42      0       DisProject.csproj<br />
            21      0       Models/API.cs<br />
            2       2       Models/VehcileRegistration.edmx<br />
            1       1       Models/VehcileRegistration.edmx.diagram<br />
            113     0       Properties/ServiceDependencies/DisProject - Web Deploy/profile.arm.json<br />
            129     3       Views/Home/About.cshtml<br />
            14      4       Views/Home/Index.cshtml<br />
            1       1       Views/Shared/_Layout.cshtml<br />
            56      83      Views/VehicleRegistration/Create.cshtml<br />
            338     186     Views/VehicleRegistration/Edit.cshtml<br />
            15      9       Views/VehicleRegistration/Index.cshtml<br />
            18      11      Views/VehicleRegistration/OrderByModel.cshtml<br />
            157     0       Views/VehicleRegistration/Search.cshtml<br />
            6       2       Web.config<br />
            -       -       img/ERD.JPG<br />
            -       -       img/LI-In-Bug.png<br />
            -       -       img/Sravanthi.jpeg<br />
            -       -       img/Sukumar.jpeg<br />
            -       -       img/apoorva_picture.jpeg<br />
            11      0       packages.config<br />
            15      12      Controllers/HomeController.cs<br />
            3       1       Controllers/VehicleRegistrationController.cs<br />
            1       0       DisProject.csproj<br />
            29      0       Models/CAFV.cs<br />
            :...skipping...<br />
            2       2       Views/Shared/_Layout.cshtml<br />
            1       1       Views/Home/Index.cshtml<br />
            3       1       Views/Shared/_Layout.cshtml<br />
            1       1       Controllers/HomeController.cs<br />
            129     11      Controllers/VehicleRegistrationController.cs<br />
            42      0       DisProject.csproj<br />
            21      0       Models/API.cs<br />
            2       2       Models/VehcileRegistration.edmx<br />
            1       1       Models/VehcileRegistration.edmx.diagram<br />
            113     0       Properties/ServiceDependencies/DisProject - Web Deploy/profile.arm.json<br />
            129     3       Views/Home/About.cshtml<br />
            14      4       Views/Home/Index.cshtml<br />
            1       1       Views/Shared/_Layout.cshtml<br />
            56      83      Views/VehicleRegistration/Create.cshtml<br />
            338     186     Views/VehicleRegistration/Edit.cshtml<br />
            15      9       Views/VehicleRegistration/Index.cshtml<br />
            18      11      Views/VehicleRegistration/OrderByModel.cshtml<br />
            157     0       Views/VehicleRegistration/Search.cshtml<br />
            6       2       Web.config<br />
            -       -       img/ERD.JPG<br/>
            -       -       img/LI-In-Bug.png<br />
            -       -       img/Sravanthi.jpeg<br />
            -       -       img/Sukumar.jpeg<br />
            -       -       img/apoorva_picture.jpeg<br />
            11      0       packages.config<br />
            15      12      Controllers/HomeController.cs<br />
            3       1       Controllers/VehicleRegistrationController.cs<br />
            1       0       DisProject.csproj<br />
            29      0       Models/CAFV.cs<br />
            20      20      Models/VehcileRegistration.edmx<br />
            2       19      Models/VehicleRegistration.cs<br />
            2       2       Views/Shared/_Layout.cshtml<br />
            2       1       Views/VehicleRegistration/Create.cshtml<br />
            2       0       Views/VehicleRegistration/Delete.cshtml<br />
            2       1       Views/VehicleRegistration/Details.cshtml<br />
            4       3       Views/VehicleRegistration/Index.cshtml<br />
            1       1       Models/VehcileRegistration.edmx<br />
            179     2       Views/VehicleRegistration/Create.cshtml<br />
            1       0       Controllers/VehicleRegistrationController.cs<br />
            1       1       Views/VehicleRegistration/Create.cshtml<br />
            1       1       Views/VehicleRegistration/Delete.cshtml<br />
            1       2       Views/VehicleRegistration/Details.cshtml<br />
            164     55      Views/VehicleRegistration/Edit.cshtml<br />
            1       1       Views/VehicleRegistration/Index.cshtml<br />
            20      1       Controllers/HomeController.cs<br />
            1       0       DisProject.csproj<br />
            26      0       Models/DataPoint.cs<br />
            30      3       Views/Home/Index.cshtml<br />
            101     8       Views/Shared/_Layout.cshtml<br />
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <b> git log --author="SravanthiVunnam" --pretty=tformat: --numstat<br></b>

            1       1       AboutUs.html<br>
            1       1       AboutUs.html<br>
            2       5       AboutUs.html<br>
            -       -       img/ER Diagram.jpeg<br>
            7       5       AboutUs.html<br>
            -       -       .DS_Store<br>
            5       0       AboutUs.html<br>
            -       -       img/ER Diagram.jpeg<br>
            25      3       AboutUs.html<br>
            40      1       Register_Vehcile.html<br>
            30      1       Delete_Vehcile.html<br>
            1       40      Register_Vehcile.html<br>
            -       -       .DS_Store<br>
            0       30      Delete_Vehcile.html<br>
            -       -       img/.DS_Store<br>
            -       -       img/.DS_Store<br>
            -       -       img/Sravanthi.jpeg<br>
            1       0       AboutUs.html<br>
            5       6       AboutUs.html<br>
            0       3       AboutUs.html<br>
            7       26      AboutUs.html<br>
            21      0       AboutUs.html<br>
            -       -       .DS_Store<br>
            3       21      AboutUs.html<br>
            -       -       img/Sravanthi.jpeg<br>
            1       4       AboutUs.html<br>
            -       -       .DS_Store<br>
            23      0       AboutUs.html<br>
            -       -       img/Sravanthi.jpeg<br>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <b>
                git log --author="Apoorva Musham" --pretty=tformat: --numstat<br>
                6       7       AboutUs.html<br>
                1       1       DeleteSuccess.html<br>
                1       1       Delete_Vehcile.html<br>
                1       1       Ev_Cars-Washington.html<br>
                1       1       Register_Vehcile.html<br>
                1       1       Update_Vehcile.html<br>
                1       1       VehcileSuccess.html<br>
                -       -       img/apoorva_picture.jpeg<br>
                1       1       index.html<br>
            </b>

        </div>
    </div>
</div>

<br>
